@using MvcCv.Models.Entity
@model List<TblInterests>

<div class="resume-section-content">
    <h2 class="mb-5">Hobilerim</h2>
    @foreach (var y in Model)
    {
        <div class="interest-item mb-4">
            <h4 class="text-primary">• @y.Description1</h4>
            <p class="mb-0">@y.Description2</p>
        </div>
    }
</div>