@using MvcCv.Models.Entity
@model List<TblSkills>

<div class="resume-section-content">
    <h2 class="mb-5">Yeteneklerim</h2>
    <div class="subheading mb-3">Proglamlama Dilleri ve Araçlar</div>
    <ul class="list-inline dev-icons">
      
            @foreach (var x in Model)
            {
                <li class="list-inline-item"><i class="@x.Icon"></i> @x.Skills</li>

            }
        </ul>
</div>
