@using MvcCv.Models.Entity
@model List<TblInterests>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="text-align: center; font-weight: bold; color: #343a40;">Hobi ve İlgi Alanları Listesi - Admin Paneli</h2>
<br />

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-pane" id="timeline">
                                <br />
                                <div class="timeline">
                                    <!-- Timeline entry -->
                                    @foreach (var z in Model)
                                    {
                                        <div>
                                            <i class="fas fa-star bg-blue"></i>
                                            <div class="timeline-item">
                                                <h3 class="timeline-header">
                                                    <a href="#">@z.Description1</a>
                                                </h3>
                                                <div class="timeline-body">
                                                    @z.Description2
                                                </div>
                                                <div class="mt-2">
                                                    <a href="/Interest/UpdateInterest/@z.Id" class="btn btn-info btn-sm">Güncelle</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<style>
    .timeline::before {
        display: none;
    }
</style>
