@model MvcCv.Models.Entity.TblSkills
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Yetenek Düzenleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Yetenek Açıklaması")
    @Html.TextBoxFor(x => x.Skills, new { @class = "form-control" })
    <br />
    @Html.Label("Derece")
    @Html.TextBoxFor(x => x.Ratio, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>
